@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Cairo:wght@200..1000&family=Cedarville+Cursive&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+HU:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: "Roboto", sans-serif;

}

html {
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (width < 924px) {
  .container {
  width: 90%;
  margin: 0 auto;
}
}
@keyframes slideDown {
   0% {
    opacity: 0;
    transform: translateY(-10px);
   }
   100% {
    opacity: 1;
    transform: translateY(0);
   }
}

.slide-down {
animation: slideDown 0.3s ease-out forwards;
}

:focus {
  outline: 1px solid #a78bfa;
}
